
    <%- include('./partials/header.ejs') %>

    <div class="jumbotron" style="padding: 10px;">
        <h1 class="display-4">Labels</h1>
        <p class="lead">Manage your Labels here</p>
        <hr class="my-4">
        <form class="form-inline row" action="\labels" method="POST">
            <label class="sr-only" for="name">LABEL</label>
            <div class="col-10">
                <input type="text" name="name" class="form-control form-control-lg mb-2 mr-sm-2" style="width: 100%;" placeholder="Add New Label">          
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary btn-lg mb-2">Add</button>
            </div>
          </form>
      </div>

      <div class="row" style="padding: 10px;">
        <% labels.forEach( (obj) => { %>
           <a class="card col-sm-3" style="padding: 10px; border: none; color:white; text-decoration: none; text-transform: uppercase;" href="/labels/<%= obj._id %>">
              <div class="card-body" style="background-color: <%= obj.backgroundColor %>; border: 5px solid #0b1d2f;">
                <% if(obj.name.length > 25){ %>
                  <h5 class="card-title"><%= obj.name.substring(0, 25) %>...</h5>
                <% }else{ %>
                <h5 class="card-title"><%= obj.name %></h5>
                <% } %>
                <!-- <a href="/labels/<%= obj._id %>" class="btn btn-outline-primary">View</a>
                <a href="/labels/<%= obj._id %>" class="btn btn-outline-danger">Delete</a> -->
            </div> 
           </a>
        <% }) %>  
      </div>
     

     

    <%- include('./partials/footer.ejs') %>
