
    <%- include('./partials/header.ejs') %>
    <div class="jumbotron" style="padding: 10px; background-color: #aaebb8">
        <h1 class="display-4" style="position: relative;">Todos List
          <% if(isLabelSelected){ %>
            for: <span style="color: white;"><%= labels[0].name.substring(0,15) %> </span>
            <a style="position: absolute; right: 0;"  data-toggle="modal" data-target="#labelEditForm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <% } %>
        </h1>
        <hr class="my-4">
        <div class="d-flex justify-content-between">
          <p class="lead">Manage your Todos here </p>
          <div>
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#todosPopup" style="margin-bottom: 3px;">
                <i class="fa fa-plus mr-2" aria-hidden="true"></i>Create Todo
              </button>  
              <% if(isLabelSelected){ %>
                <form action="<%= labels[0]._id %>?_method=DELETE" method="POST" style="display: inline;">
                  <button class="btn btn-outline-danger" style=" margin-bottom: 3px;" >
                    <i class="fa fa-trash mr-2" aria-hidden="true"></i>Delete Label
                  </button>               
                </form>    
              <% } %>   
          </div>
        </div>
        <div class="form-group" >
          <label for="task" class="mr-2 ">Priority</label>
          <% for(let i = 1; i <= 5;i++){  %>
            <div class="form-check form-check-inline" style="margin-right: 0.65rem;">
              <a href="?priority=<%= i %>"> <input class="form-check-input" type="radio" id = "<%= i %>" name="priority" onClick="priorityChecked(event)" value="<%= i %>" <%= i == priority ? "checked" : "" %> > </a>
              <label class="form-check-label" for="<%= i %>"><%= i %></label>
            </div>
          <% }   %>
        </div>
      </div>

      <ul class="list-group">
        <% todos.forEach(obj => { %>
            <li onclick="todoClicked(event) " class = "todos list-group-item list-group-item-action row <%= obj.priority == 5? 'list-group-item-danger' : obj.priority == 4?
            'list-group-item-warning' : obj.priority == 3? 'list-group-item-info' : obj.priority == 2? 'list-group-item-success': 'list-group-item-light'  %>" >
                <div class="col-lg-11 title" style="font-weight: 600;"><%- obj.title %> </div>
                <div class="col-lg-1 col-sm-2" style="padding-right: 0; justify-content: space-between; display: flex; padding-left: 0;">
                  <a href="/todos/<%= obj._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <% if(obj.status == 0){ %>
                    <form action="/inProgress" method="post" style="display: inline;">
                      <input type="text" name="todoId" value="<%= obj._id %>" style="display: none;">
                      <input type="text" name="status" value="1" style="display: none;">
                      <button class="deleteButton" style="background: none; padding: 0; border: none;" type="submit">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                      </button>
                    </form>  
                  <% } %>
                  <form action="/todos/<%= obj._id %>?_method=DELETE" method="post" style="display: inline;">
                    <button class="deleteButton" style="background: none; padding: 0; border: none;" type="submit">
                     <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
                <% if(obj.description){ %>
                  <div class="col-12">
                  <hr style="border: 1px solid rgba(255,255,255,.7">
                  <p><%= obj.description %></p>
                </div>
                <% } %> 
            </li>
        <% }) %>
      </ul>

     

    <%- include('./partials/footer.ejs') %>
  
  <!-- Modal -->
  <div class="modal fade" id="todosPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">New Todo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form " action="\todos" method="POST" id="todosForm">
              <% if(isLabelSelected){ %>
                <div class="form-group" style="display: none;">
                  <label for="labelId">Label</label>
                  <input type="text" class="form-control" name= "labelId" value = "<%= labels[0]._id %>">
                </div>
              <% } %>
              <div class="form-group">
                <label for="task">Title</label>
                <input type="text" class="form-control" name= "title">
              </div>
              <div class="form-group">
                <label for="task">Description</label>
              <textarea name="description" class="form-control" cols="30" rows="7"></textarea>
                <!-- <input type="text" class="form-control" name= "description"> -->
              </div>
              <div class="form-group">
                <label for="task">Priority</label>
                <% for(let i = 1; i <= 5;i++){  %>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id = "<%= i %>" name="priority" value="<%= i %>" <%= i == 1 ? "checked" : "" %>>
                    <label class="form-check-label" for="<%= i %>"><%= i %></label>
                  </div>
                <% }   %>
              </div>
            
              <div class="form-group">
                <label for="label">Change Label</label>
                <select class="form-control" name="label">
                  <% labels.forEach(label => { %>
                      <option value="<%= label._id %>" <%= isLabelSelected? "selected" : "" %> ><%= label.name %></option>
                  <% }) %>
                </select>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onClick = "submitForm()">Create</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="labelEditForm" tabindex="-1" role="dialog" aria-labelledby="labelEditFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="labelEditFormLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form " action="<%= labels[0]._id %>?_method=PUT" method="POST" id="labelsEditForm">
            <div class="form-group">
              <label for="task">Title</label>
              <input type="text" class="form-control" name= "name" value="<%= labels[0].name %>">
            </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="submitEditLabelForm()">Save changes</button>
        </div>
      </div>
    </div>
  </div>